/* Dashboard.module.css */

.dashboard {
  padding: 2rem;
  background-color: #f4f4f9;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  width: 1080px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  color: #333;
}

.filtros {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}

.labelFilter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: #555;
}

.lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.titleLista {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dataAgendamento {
  display: flex;
  flex-direction: column;
}

.pName {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  color: #333;
}

.pTelephone {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  color: #555;
}

.agenDataContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.txtDate {
  font-size: 0.9rem;
  color: #777;
}

.pDateRed {
  font-size: 0.9rem;
  color: #ff4d4f;
}

.pDateGreen {
  font-size: 0.9rem;
  color: #25d366;
}

.pHour {
  font-size: 1rem;
  color: #555;
}

.listaBtnsContainer {
  display: flex;
  gap: 1rem;
}

.whatsButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.whatsButton:hover {
  transform: scale(1.1);
}