.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 6rem;
  padding: 1rem;
}

.detalhesTitle {
  width: 100%;
  text-align: start;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 8px;
  width: 50%;
  height: auto;
}

.form input,
.form textarea,
.form select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form label {
  display: flex;
  flex-direction: column;
}

.messageSucess {
  text-align: center;
  font-weight: bold;
  color: green;
}

.clFormButton {
  padding: 1rem 2rem;
  background-color: #5e5e5e;
  color: #eeeeee;
  font-size: 1rem;
}

.labelContainer {
  width: 6rem;
  text-align: center;
}

.containerLonge, .containerPerto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  padding: 5rem 1rem 1rem 1rem;
  width: 100%;
  border: 1px solid #cccccc38;
  border-radius: 8px;
}

.titlePerto, .titleLonge {
  position: absolute;
  top: 1rem;
  border-bottom: 1px solid #ccc;
}

.direitoLonge, .esquerdoLonge, .direitoPerto, .esquerdoPerto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}