/* Layout para páginas com o Header (menu lateral) */
.layoutWithHeader {
  display: flex;
}

.mainContent {
  margin-left: 250px; /* Largura do menu lateral */
  width: calc(100% - 250px);
  padding: 2rem;
  background-color: #f4f4f9;
  min-height: 100vh;
}

/* Layout para páginas sem o Header (como o login) */
.layoutWithoutHeader {
  width: 100%;
  height: 100%;
}

.fullPageContent {
  width: 100%;
  height: 100%;
}


/* Ajustes para telas menores */
@media (max-width: 767px) {
  .layoutWithHeader {
    flex-direction: column;
  }

  .mainContent {
    margin-left: 0;
    width: 100%;
    padding: 1rem;
  }
}