:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #5e5e5e;
}

a {
  color: inherit;
  text-decoration: none;
}


section {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: auto;
  background-color: #f4f4f9;
}

div {
  width: 100%;
  height: auto;
}